$blue_1: #013880;
$blue_2: #0067ac;
$blue_3: #0153c7;
$blue_4: #014ebb;
$yellow_1: #ffbd07;
$yellow_2: #fec410;
$secondary: #97a3b9;
$success: #10b759;
$danger: #dc3545;
$warning: #ffc107;
$info: #00b8d4;
$dark: #1c273c;